html,
body{
    margin: 0;
    padding: 0;
}
.container {
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    min-width: 360px;
    max-width: 2048px;

    min-height: 640px;
    max-height: 1536px;
    height: 100vh;

    /*padding-bottom: 59.922%;*/


}